{% extends 'cms/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
	<div class="row">
		<h2 class="text-dark post" style="font-family: 'Pacifico', cursive;">{{ post.title }}</h2>
	</div>
	<div class="row">
		<p class="text-justify">{{ post.text }}</p>
	</div>
	<div class="row">
		<div class="col-6">
			<p class="text-muted">{{ post.published_date }}</p>
		</div>
		<div class="col-6">
			<span class="badge badge-pill badge-info">{{ post.tag }}</span>
		</div>
	</div>
	<br>
	<a class="btn btn-outline-success" href="{% url 'add_comment' pk=post.pk %}">Add comment</a>
	<br><br>
	<h4>Comments</h4>
	{% for comment in post.comments.all %}
		{% if comment.approved_comment %}
			<div class="col-12">
				<h5>{{ comment.author }}</h5>
			</div>
			<div class="col-12">
				<p>{{ comment.text }}</p>
			</div>
			<div class="col-12">
				<p class="text-muted">{{ comment.created_date }}</p>
			</div>
			<hr>
		{% endif %}
	{% empty %}
		<p class="h5 text-justify mb-3">No comments here yet</p>
	{% endfor %}
{% endblock %}